---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: healthcheck-ping
  namespace: observability
spec:
  schedule: "*/5 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: healthcheck-ping
              image: curlimages/curl:8.17.0@sha256:935d9100e9ba842cdb060de42472c7ca90cfe9a7c96e4dacb55e79e560b3ff40
              command:
                - /bin/sh
                - -c
                - "curl -fsS -m 10 --retry 5 -o /dev/null https://hc-ping.com/2f23b93d-19d4-4e9e-8325-59e4facd4576"
              resources:
              requests:
                cpu: 10m
                memory: 16Mi
              limits:
                cpu: 100m
                memory: 32Mi
              securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop: ["ALL"]
          restartPolicy: OnFailure
          securityContext:
            runAsNonRoot: true
            runAsUser: 65534
            runAsGroup: 65534
            seccompProfile:
              type: RuntimeDefault
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 1
