---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app pihole-exporter
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      pihole-exporter:
        containers:
          app:
            image:
              repository: ekofr/pihole-exporter
              tag: "v0.4.0"
            env:
              TZ: "${TIMEZONE}"
              PIHOLE_PROTOCOL: "http,http,http"
              PIHOLE_HOSTNAME: "pihole.albatrossflavour.com,pihole2.albatrossflavour.com,pihole3.albatrossflavour.com"
              PIHOLE_PORT: "80,80,80"
              PORT: &port "9617"
              INTERVAL: "10s"
            envFrom:
              - secretRef:
                  name: pihole-exporter
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 10m
                memory: 50Mi
              limits:
                memory: 128Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop: ["ALL"]
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        seccompProfile:
          type: RuntimeDefault
    service:
      app:
        controller: pihole-exporter
        ports:
          metrics:
            protocol: HTTP
            port: *port
    serviceMonitor:
      app:
        serviceName: *app
        endpoints:
          - port: metrics
            interval: 20m
            scrapeTimeout: 1m
