---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/monitoring.coreos.com/scrapeconfig_v1alpha1.json
apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: &name gatus
spec:
  staticConfigs:
    - targets:
        - status.albatrossflavour.com
  metricsPath: /metrics
  relabelings:
    - action: replace
      targetLabel: job
      replacement: *name
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/monitoring.coreos.com/scrapeconfig_v1alpha1.json
apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: &name kilns
spec:
  staticConfigs:
    - targets:
#        - betty.albatrossflavour.com
        - dotty.albatrossflavour.com
  metricsPath: /metrics
  relabelings:
    - action: replace
      targetLabel: job
      replacement: *name
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/monitoring.coreos.com/scrapeconfig_v1alpha1.json
apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: &name puppet
spec:
  staticConfigs:
    - targets:
        - puppet.lab.albatrossflavour.com:9100
  metricsPath: /metrics
  relabelings:
    - action: replace
      targetLabel: job
      replacement: *name
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/monitoring.coreos.com/scrapeconfig_v1alpha1.json
apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: &name piholes
spec:
  scrapeInterval: 20m
  staticConfigs:
    - targets:
        - pihole.albatrossflavour.com:9617
        - pihole2.albatrossflavour.com:9617
        - pihole3.albatrossflavour.com:9617
  metricsPath: /metrics
  relabelings:
    - action: replace
      targetLabel: job
      replacement: *name
---
## yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/monitoring.coreos.com/scrapeconfig_v1alpha1.json
apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: &name node-exporter
spec:
  staticConfigs:
    - targets:
        - dotty.albatrossflavour.com:9100
#        - betty.albatrossflavour.com:9100
        - hex.home.albatrossflavour.com:9100
        - luggage.lab.albatrossflavour.com:9100
        - ankh.lab.albatrossflavour.com:9100
        - morpork.lab.albatrossflavour.com:9100
        - stolat.lab.albatrossflavour.com:9100
        - kiosk.albatrossflavour.com:9100
        - pihole.albatrossflavour.com:9100
        - pihole2.albatrossflavour.com:9100
        - pihole3.albatrossflavour.com:9100
  metricsPath: /metrics
  relabelings:
    - action: replace
      targetLabel: job
      replacement: *name
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/monitoring.coreos.com/scrapeconfig_v1alpha1.json
#apiVersion: monitoring.coreos.com/v1alpha1
#kind: ScrapeConfig
#metadata:
#  name: &name pikvm
#spec:
#  staticConfigs:
#    - targets:
#        - 192.168.5.20
#        - 192.168.5.21
#        - 192.168.5.22
#  metricsPath: /api/export/prometheus/metrics
#  scheme: HTTPS
#  tlsConfig:
#    insecureSkipVerify: true
#  relabelings:
#    - action: replace
#      targetLabel: job
#      replacement: *name
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/monitoring.coreos.com/scrapeconfig_v1alpha1.json
apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: &name media-exporters
spec:
  staticConfigs:
    - targets:
        #        - overseerr-exporter.observability.svc.cluster.local:9850
        - qbittorrent-exporter.observability.svc.cluster.local:8000
  metricsPath: /metrics
  relabelings:
    - action: replace
      targetLabel: job
      replacement: *name
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/monitoring.coreos.com/scrapeconfig_v1alpha1.json
apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: &name speedtest-exporters
spec:
  scrapeInterval: 1h
  scrapeTimeout: 1m
  staticConfigs:
    - targets:
        - speedtest-exporter.observability.svc.cluster.local:9798
  metricsPath: /metrics
  relabelings:
    - action: replace
      targetLabel: job
      replacement: *name
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/monitoring.coreos.com/scrapeconfig_v1alpha1.json
apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: &name nut-exporters
spec:
  scrapeInterval: 30s
  staticConfigs:
    - targets:
        - 192.168.5.50:9199
  metricsPath: /ups_metrics
  relabelings:
    - action: replace
      targetLabel: job
      replacement: *name
