---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app resume
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      resume:
        replicas: 1
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: "18@sha256:3c54d39f19fdb82ed5b3f286450e4071133cc6025bd0e25856bc2c522f8fc030"
            envFrom:
              - secretRef:
                  name: resume-secret
        containers:
          app:
            image:
              repository: amruthpillai/reactive-resume
              tag: "v4.5.6@sha256:42847d06de8ae97079c6b3bebb1f003c12806d6aadf6f9fd8631294912270406"
            env:
              TZ: ${TIMEZONE}
              PORT: "3000"
              PUBLIC_URL: "https://{{ .Release.Name }}.${SECRET_DOMAIN}"
              DATABASE_URL: "postgresql://resume:$(RESUME_DB_PASSWORD)@postgres16-rw.database.svc.cluster.local:5432/resume"
              MAIL_FROM: "noreply@${SECRET_DOMAIN}"
              STORAGE_PROVIDER: "s3"
              STORAGE_URL: "http://minio.default.svc.cluster.local:9000"
              STORAGE_ENDPOINT: "minio.default.svc.cluster.local"
              STORAGE_PORT: "9000"
              STORAGE_REGION: "us-east-1"
              STORAGE_BUCKET: "resume"
              STORAGE_USE_SSL: "false"
              STORAGE_ACCESS_KEY: "$(MINIO_ROOT_USER)"
              STORAGE_SECRET_KEY: "$(MINIO_ROOT_PASSWORD)"
              CHROME_URL: "ws://localhost:3001"
            envFrom:
              - secretRef:
                  name: resume-secret
            resources:
              requests:
                cpu: 15m
                memory: 200M
              limits:
                memory: 1G
          browserless:
            image:
              repository: ghcr.io/browserless/chromium
              tag: v2.38.3@sha256:e5b4f5b6e1306647eeb4b415cec7844dd0058b00d353e04cedacaf24906b6f28
            env:
              TOKEN: "$(CHROME_TOKEN)"
              PORT: "3001"
              PUBLIC_URL: "http://localhost:3000"
              ENABLE_CORS: "false"
              ALLOW_GET: "false"
              TIMEOUT: 180000
              CONCURRENT: 1
              PREBOOT_CHROME: false
              KEEP_ALIVE: false
            envFrom:
              - secretRef:
                  name: resume-secret
            resources:
              requests:
                cpu: 50m
                memory: 500M
              limits:
                memory: 2G
    service:
      app:
        controller: resume
        ports:
          http:
            port: 3000
          browserless:
            port: 3001
    ingress:
      app:
        className: internal
        annotations:
          external-dns.alpha.kubernetes.io/target: internal.${SECRET_DOMAIN}
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Utilities
          gethomepage.dev/name: Reactive Resume
          gethomepage.dev/icon: reactive-resume.png
          gethomepage.dev/description: Resume builder
        hosts:
          - host: "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
    persistence:
      data:
        existingClaim: *app
        globalMounts:
          - path: /app/data
