# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app shlink
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  timeout: 15m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      shlink:
        strategy: Recreate
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: "18@sha256:3c54d39f19fdb82ed5b3f286450e4071133cc6025bd0e25856bc2c522f8fc030"
            envFrom:
              - secretRef:
                  name: shlink-secret
        containers:
          app:
            image:
              repository: shlinkio/shlink
              tag: "5.0.0@sha256:5bbedb6913b951f23428a61b581e7a22e33bdda0446455dfb4a598e57f15ff73"
            env:
              TZ: Australia/Sydney
              DEFAULT_DOMAIN: short.${SECRET_DOMAIN}
              IS_HTTPS_ENABLED: "true"
              PORT: "8081"
              DB_DRIVER: postgres
              DB_HOST:
                valueFrom:
                  secretKeyRef:
                    name: shlink-secret
                    key: DB_HOST
              DB_NAME:
                valueFrom:
                  secretKeyRef:
                    name: shlink-secret
                    key: DB_NAME
              DB_USER:
                valueFrom:
                  secretKeyRef:
                    name: shlink-secret
                    key: DB_USER
              DB_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: shlink-secret
                    key: DB_PASSWORD
              INITIAL_API_KEY:
                valueFrom:
                  secretKeyRef:
                    name: shlink-secret
                    key: INITIAL_API_KEY
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 1Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              runAsUser: 2000
              runAsGroup: 2000
              runAsNonRoot: true
              capabilities:
                drop:
                  - ALL
          web:
            image:
              repository: shlinkio/shlink-web-client
              tag: "4.7.0@sha256:80b4d00c445f61e38164a4f13bea4f915b0bdc051e74705fe21ffa92a3d6fed5"
            env:
              UID: "2000"
              TZ: Australia/Sydney
              SHLINK_SERVER_URL: "https://short.${SECRET_DOMAIN}"
              SHLINK_SERVER_NAME: "Albatross Flavour"
              SHLINK_SERVER_API_KEY:
                valueFrom:
                  secretKeyRef:
                    name: shlink-secret
                    key: INITIAL_API_KEY
            probes:
              liveness:
                enabled: true
                spec:
                  tcpSocket:
                    port: 8080
              readiness:
                enabled: true
                spec:
                  tcpSocket:
                    port: 8080
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
                  tcpSocket:
                    port: 8080
            resources:
              requests:
                cpu: 5m
                memory: 64Mi
              limits:
                memory: 256Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities:
                drop:
                  - ALL
    defaultPodOptions:
      securityContext:
        fsGroup: 2000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault
    service:
      app:
        controller: shlink
        ports:
          http:
            port: 8081
      web:
        controller: shlink
        ports:
          http:
            port: 8080
    ingress:
      app:
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
        hosts:
          - host: short.${SECRET_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
      web:
        className: internal
        annotations:
          external-dns.alpha.kubernetes.io/target: internal.${SECRET_DOMAIN}
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: "Utilities"
          gethomepage.dev/name: "Shlink Web"
          gethomepage.dev/icon: "shlink.png"
          gethomepage.dev/description: "URL Shortener Web UI"
        hosts:
          - host: shlink.${SECRET_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: web
                  port: http
    persistence:
      data:
        existingClaim: shlink
        globalMounts:
          - path: /etc/shlink/data
