---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mylar
spec:
  interval: 40m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      mylar:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: lscr.io/linuxserver/mylar3
              tag: "5.9.5@sha256:b4c8c2bdd69ccb3a1842ca427137e43a1878718a7f89974fb2bf912e9ab8494a"
            env:
              PUID: "911"
              PGID: "1001"
              TZ: "${TIMEZONE}"
            envFrom:
              - secretRef:
                  name: mylar-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 8090
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi
    defaultPodOptions:
      securityContext:
        fsGroup: 1001
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [100]
    service:
      app:
        controller: mylar
        ports:
          http:
            port: *port
    ingress:
      app:
        annotations:
          external-dns.alpha.kubernetes.io/target: internal.${SECRET_DOMAIN}
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Media
          gethomepage.dev/name: Mylar
          gethomepage.dev/icon: mylar.png
          gethomepage.dev/siteMonitor: http://mylar.${SECRET_DOMAIN}
          gethomepage.dev/description: Comic Downloads
        className: internal
        hosts:
          - host: "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
    persistence:
      config:
        existingClaim: mylar
      tmp:
        type: emptyDir
      comics:
        type: nfs
        server: 192.168.1.22
        path: /volume1/Media/Comics
        globalMounts:
          - path: /comics
      downloads:
        type: nfs
        server: 192.168.1.22
        path: /volume1/Media/Torrents
        globalMounts:
          - path: /downloads
