---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: observability
resources:
  # ExternalSecret disabled - not needed for local/NFS storage
  # Uncomment when migrating to S3 backend
  # - ./externalsecret.yaml
  - ./helmrelease.yaml
