# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app shit-of-theseus
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      shit-of-theseus:
        replicas: 1
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: nginx
              tag: "1.27-alpine"
            resources:
              requests:
                cpu: 10m
                memory: 32Mi
              limits:
                memory: 128Mi
    service:
      app:
        controller: *app
        ports:
          http:
            port: 80
    ingress:
      app:
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
        hosts:
          - host: shit-of-theseus.com
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
    persistence:
      webroot:
        type: configMap
        name: shit-of-theseus-webroot
        globalMounts:
          - path: /usr/share/nginx/html
      nginx-config:
        type: configMap
        name: shit-of-theseus-nginx-config
        globalMounts:
          - path: /etc/nginx/conf.d/default.conf
            subPath: default.conf
      captures:
        type: nfs
        server: 192.168.1.22
        path: /volume2/apps/shitbox
        globalMounts:
          - path: /usr/share/nginx/html/captures
            readOnly: true
