---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./externalsecret.yaml
  - ./helmrelease.yaml
  - ../../../../templates/volsync
labels:
  - pairs:
      app.kubernetes.io/name: asciinema
      app.kubernetes.io/instance: asciinema
